@font-face {
  font-family: "PT Sans";
  src: url(/src/fonts/PT_Sans/PTSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Post No Bills Jaffna SemiBold";
  src: url(/src/fonts/PostNoBillsJaffna-SemiBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Playfair Display";
  src: url(/src/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 400;
}


.header_contact {
  background-color: #000000;
  width: 100%;
  height: 44px;
  padding: 14px 0;

  .header_contact_wrap {
    display: flex;
    justify-content: space-around;
  }

  .header_contact_item {
    color: #969696;
    font-size: 14px;
  }

  .header_contact_item_icon {
    width: 13.36px;
    height: 13.33px;
  }

  .header_contact_item_icon_input {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }

  .header_contact_item_icon_input_arrow {
    position: absolute;
    margin-top: 3px;
    margin-left: -3px;
  }

  .text_cont {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #969696;
    font-family: PT Sans;
    font-weight: 400;

    &:nth-child(4) {
      border-right: none;
    }
  }
}

.nav_wrap {
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;

  .nav_wrap_title {
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 70px;
    font-family: "Post No Bills Jaffna SemiBold", sans-serif;
    font-weight: 700;
  }

  .nav_wrap_menu_item {
    text-transform: uppercase;
    display: inline-block;
    color: #969696;
    font-size: 14px;
    font-family: PT Sans;
    font-weight: 400;
    padding: 31px 20px;

    &:hover {
      background-color: #1f1f1f;
    }

    &:nth-child(4) {
      background-color: transparent;
    }
  }

  .icons_menu {
    position: relative;
    margin-left: 61px;
  }

  .icons_menu_resucle {
    width: 18.33px;
    height: 12.83px;
    margin: -2px;
  }

  .icons_menu_ball {
    position: absolute;
    margin-top: 12px;
    margin-left: -7px;
    width: 2.75px;
    height: 2.75px;
  }

  .ball2 {
    margin-left: -12px;
    width: 2.75px;
    height: 2.75px;
  }

  .icons_menu_search {
    width: 16.5px;
    height: 16.5px;
    margin-left: 44px;
  }
}

.start_page {
  width: 100%;
  min-height: 810px;
  background: url(/src/img/mainBack.png) 50% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .start_page_block {
    width: 320px;
    height: 320px;
    border: 4px solid rgb(255, 255, 255);

    .start_block_title {
      width: 238px;
      display: inline-block;
      margin-top: 94px;
      margin-left: 40px;
      margin-bottom: 3px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Post No Bills Jaffna SemiBold", sans-serif;
      font-weight: 700;
      font-size: 64px;
      font-style: normal;
      text-align: center;
    }

    .start_block_title_line {
      border: 1px solid white;
      width: 183px;
      margin: 0 auto;
      margin-bottom: 7px;
    }

    .start_block_text {
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: PT Sans;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .start_page_text {
    position: absolute;
    max-width: 730px;
    height: 96px;
    margin-top: 550px;
    font-family: PT Sans;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
  }
}

.main_page {
  display: flex;
  flex-wrap: wrap;
  
  .about_item_season2020 {
    width: 50%;
    height: 730px;
    background-color: #000000;
    @media (max-width:1200px){
      width:100%;
    }
  }

  .block_title {
    margin-top: 93px;
    margin-left: auto;

    .title_h1 {
      text-align: center;
      font-size: 36px;
      text-transform: uppercase;
      font-family: "Playfair Display";
      color: #ffffff;
    }

    .title_line {
      width: 120px;
      margin: 50px auto;
      border: 1px solid #ffffff;
    }
  }

  .products_block_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    .products_block_item {
      width: 30%;
      height: 325px;
      background-color: #191b1c;
       .item_img {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    }
    .watch_block_text {
      position:absolute;
      margin-top: 80px;

      .watch_block_name {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 10px;
        line-height: 21px;
      }

      .watch_block_price {
        font-size: 16px;
        color: #ffffff;
        line-height: 19px;
      }
      .watch_block_name ,  .watch_block_price
      {
        font-family:"Playfair Display";
      }
    }
  }

  .about_item_newCollection {
    width: 50%;
    height: 730px;
    background: url(/src/img/bg_newCollection.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width:1200px){
      width:100%;
    }
    .block_title {
      margin: 483px auto;

      .title_line {
        margin-top: 30px;
        margin-bottom: 0px;
      }

      .button_wrap_newCollect {
        display: flex;
        justify-content: center;

        .page_info_button {
          margin-top: 30px;
          text-align: center;
          background: transparent;
          font-size: 18px;
          text-transform: uppercase;
          border: 1px solid #ffffff;
          padding: 12px 28px;
          color: #ffffff;
          font-family: "PT Sans";
        }
      }

    }
  }

  .about_item_img {
    width: 40%;
    height: 600px;
    background-image: url(/src/img/bg_item_img.png) ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width:1200px){
      width:100%;
    }
  }

  .about_item_collect2018 {
    width: 60%;
    height: 600px;
    background-color: #000000;
    @media (max-width:1200px){
      width:100%;
    }

    .block_title {
      margin-top: 100px;
    }

    .collect2018_text {
      margin: 0px auto;
      width: 471px;
      height: 173px;
      font-size: 14px;
      text-align: center;
      color: white;
      font-family: "Playfair Display";
      line-height: 21px;
    }

    .button_wrap {
      display: flex;
      justify-content: center;

      .collect2018_button {
        margin-top: 65px;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        padding: 12px 28px;
        color: #ffffff;
        background-color: transparent;
        font-family: "PT Sans";
      }
    }
  }

  .new_progress {
    width: 100%;
    min-height: auto;
    background-color: #000000;

    .new_progress_wrap {
      display: flex;
      justify-content: center;
    }

    .products_block_wrap {
      width: 80%;
      height: 962px
     
    }
    .products_block_item
    {
      width: 24%;
   
    }
  }

  .our_brands {
    width: 100%;
    background-color: #0F0F0F;

    .block_title {
      margin-top: 60px;
    }

    .title_line {
      margin-top: 40px;
    }

    .brands_img_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .brands_img_item {
      width: 255;
      height: 94px;
      margin-right: 30px;
      margin-bottom: 80px;
    }
  }
}
.about_us
{
width: 100%;
height: 400px;
background:url(/src/img/about_us.png) 50% no-repeat;
.footer_wrap
{
width: 100%;
flex-wrap: wrap;
min-height: 220px;
display: flex;
align-items: center;
justify-content: center;
padding-top: 80px;
}
.footer_item_shop
{
width: 30%;
height: 219px;
margin-right: 31px;
}
.footer_item_categories
{
  width: 15%;
  height: 190px;
  margin-right: 80px;
}
.footer_item_mailingList
{
width: 30%;
height: 200px;
}

.footer_item_title {
  font-family: "Playfair Display";
  line-height: 28px;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.footer_item_text
{
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.button_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

  .button_item
  {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-transform: lowercase;
    font-family: "PT Sans";
  }
}
.input_wrap
{
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  .input_item_email 
  {
    width: 210px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 20px;
  }
  .input_item_submit 
  {
    padding: 10px 20px;
    font-family: "PT Sans";
    background: #000000;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 14px;
    text-transform: uppercase;
    }
}
}



.footer_text
{
width: 100%;
min-height: 50px;
color: white;
background-color: #0F0F0F;
text-align: center;
padding-top: 17px;
font-size: 12px;
}
